
.idea/*

alertdb/__pycache__/*

alertdb/bin/__pycache__/*

build/*

lsst_alert_database_server.egg-info/dependency_links.txt

lsst_alert_database_server.egg-info/entry_points.txt

lsst_alert_database_server.egg-info/PKG-INFO

lsst_alert_database_server.egg-info/requires.txt

lsst_alert_database_server.egg-info/SOURCES.txt

lsst_alert_database_server.egg-info/top_level.txt

tests/__pycache__/*
